body {
    background-color: skyblue;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    color: rebeccapurple;
    text-align: center;
  }
  
  #weatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  
  .time-component, .weather-component {
    text-align: center;
  }
  
  